.git
.git*
.gitignore
.gitattributes
 
.eslintignore
.eslintrc.cjs
 
.prettierrc
.pretieriignore
 
.npmrc

.graphqlrc
.editorconfig
.svelte-kit

.vscode

.dockerignore
Dockerfile
docker-compose.yml

node_modules
build

README.md
